@import 'reset.less';
@import 'jquery-ui.less';
@import 'attributes.less';

@active-color: #4db8db;
@background-color: #D4D4D4;
@foreground-color: white;
@core-color: #CDCDCD;

@media-width-max-1: 1499px;
@media-width-min-1: 400px;
@media-width-max-2: 1799px;
@media-width-min-2: 1500px;
@media-width-max-3: 1899px;
@media-width-min-3: 1800px;
@media-width-max-4: 2199px;
@media-width-min-4: 1900px;

@media-height-max-1: 699px;
@media-height-min-1: 600px;
@media-height-max-2: 799px;
@media-height-min-2: 700px;
@media-height-max-3: 899px;
@media-height-min-3: 800px;
@media-height-max-4: 999px;
@media-height-min-4: 900px;

.mixin(@prop, @value) {
    ignore: ~"a;@{prop}:@{value}";
}

.calc(@prop, @str) {
    .mixin(@prop, -moz-calc(~"@{str}"));
    .mixin(@prop, -webkit-calc(~"@{str}")); 
    .mixin(@prop, calc(~"@{str}"));
}​

.ui-button {
	margin: 0px;
}

.default-input {
	color: gray;
}

body, textarea {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.u-grid {
	overflow: hidden;
	position: absolute;	
}

.u-grid.background {
	background-color: @core-color;
}

.neat-input {
	margin: 0px;
	border: 0px;
	border-bottom: 4px solid @active-color;
	box-sizing: border-box;
}

@offset: 5px;

.scale-font(@size: 16px, @scaler: 0.25) {

	@media (min-width: @media-width-min-1) and (max-width: @media-width-max-1) {
		font-size: @size;
	}

	@media (min-width: @media-width-min-2) and (max-width: @media-width-max-2) {
		font-size: @size * (1 + (@scaler * 1));
	}

	@media (min-width: @media-width-min-3) and (max-width: @media-width-max-3) {
		font-size: @size * (1 + (@scaler * 2));
	}

	@media (min-width: @media-width-min-4) and (max-width: @media-width-max-4) {
		font-size: @size * (1 + (@scaler * 3));
	}
}

.scale-by-height(@var, @size: 32px, @scaler: 0.25) {

	@media (min-height: @media-height-min-1) and (max-height: @media-height-max-1) {
		.mixin(@var, @size);
	}

	@media (min-height: @media-height-min-2) and (max-height: @media-height-max-2) {
		.mixin(@var, @size * (1 + (@scaler * 1)));
	}

	@media (min-height: @media-height-min-3) and (max-height: @media-height-max-3) {
		.mixin(@var, @size * (1 + (@scaler * 2)));
	}

	@media (min-height: @media-height-min-4) and (max-height: @media-height-max-4) {
		.mixin(@var, @size * (1 + (@scaler * 3)));
	}
}

.block {
	position: absolute;
	left: @offset;
	right: @offset;
	top: @offset;
	bottom: @offset;
}

.menu {
	.block;
	.scale-font(25px);
	background-color: @background-color;

	ul {

		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;

		li {
			top: 2.5%;
			margin-bottom: 5%;
			position: relative;
			width: 90%;
			height: 45%;
		}
	}
}

.community-chat {
	.block;
	background-color: @background-color;
	text-align: center;
	font-size: 30px;

	.rooms {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;

		.selector {

			.scale-font;

			width: 100%;

			label {
				margin: 0px;
				width: 100%;
			}
		}
	}

	.view {
		text-align: left;
		overflow-y: scroll;
		width: 100%;
		height: 100%;

		ul {
			background-color: @background-color;
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			overflow-y: scroll;
		}

		ul li {
			@m-margin: 5px;
			@m-offset: @m-margin * 2px;
			@sender-end: 80px;

			position: relative;
			margin: @m-margin;
			width: 100%;
			height: 32px;
			.scale-font(14px, 0.1);

			.sender {
				position: absolute;
				display: block;
				background-color: white;
				text-align: center;
				height: 28px;
				width: @sender-end - @m-offset;
				//border: 2px solid @active-color;
			}

			.message {
				word-wrap: break-word;
				position: absolute;
				display: block;
				height: 100%;
				left: @sender-end;
				right: @m-offset;
				//border: 2px solid @active-color;
				background-color: white;

				p {
					margin: 2px;
				}
			}
		}
	}
}

.input {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: white;

	.msg {
		width: 100%;
		resize: none;
		position: absolute;
		left: 0px;
		right: 0px;
		height: 100%;
		font-size: 20px;
		.neat-input;
	}

	.msg:focus {
		outline-width: 0px;
	}

	.send {
		right: 0px;
		position: absolute;
		display: inline-block;
		width: 30%;
		height: 100%;
	}
}

.hotspot {
	.block;
	background-color: @background-color;
	text-align: center;
	font-size: 50px;

	.menu {
		position: static;
		width: 100%;

		label {
			.scale-font(22px);
			width: 50%;
		}
	}

	.content {
		position: relative;
		text-align: left;

		.embed {

			box-sizing: border-box;
			position: absolute;
			.calc(height, "100% - 20px");
			.calc(width, "50% - 15px");
			left: 10px;
			top: 10px;

			iframe {
				width: 100%;
				height: 100%;
				position: relative;
			}
		}

		.description {

			overflow: auto;
			position: absolute;
			background-color: @foreground-color;

			.calc(height, "100% - 20px");
			.calc(width, "50% - 10px");
			right: 5px;
			top: 10px;

			text-align: center;

			h1 {
				.scale-font(25px);
				color: @active-color;
				top: 0px;
			}

			p {
				margin-top: 10px;
				margin-left: 10px;
				margin-right: 10px;
				text-align: left;
				font-size: 20px;
				top: 0px;
			}
		}

		.choose-embed {
			display: inline-block;
			padding: 10px;
			box-sizing: border-box;
			position: relative;
			height: 100%;
			width: 50%;

			.icont {
				box-sizing: border-box;
				width: 100%;
				.calc(height, "100% - 40px");
				top: 0px;

				iframe {
					position: relative;
					width: 100%;
					height: 100%;
				}
			}

			form {
				top: 0px;
				position: relative;
				height: 40px;
				width: 100%;

				input {
					position: relative;
					top: -20px;
					left: 0px;
					width: 80%;
					height: 100%;
					font-size: 20px;
					.neat-input;

				}

				input:focus {
					outline-width: 0px;
				}

				button {
					position: relative;
					top: -20px;
					width: 20%;
					height: 100%;
					font-size: 14px;
				}
			}

		}

		.write-description {

			top: -10px;
			padding: 10px;
			box-sizing: border-box;
			display: inline-block;

			position: relative;
			height: 100%;
			right: 0px;
			width: 50%;

			input {
				top: 0px;
				.scale-font(25px);
				.neat-input;
				width: 100%;
				margin-bottom: 5px;
			}

			textarea {
				position: relative;
				width: 100%;
				.calc(height, "100% - 55px");
				font-size: 20px;
				resize: none;
				.neat-input;
			}

			textarea:focus, input:focus {
				outline-width: 0px;
			}
		}
	}
}

.motd {
	.block;
	background-color: #FFFF99;
	text-align: center;
	font-size: 50px;
}

.title {
	
	overflow: hidden;
	.scale-font(22px);

	.block;
	background-color: @background-color;
	text-align: center;

	img {
		background-color: @foreground-color;
		width: 100%;
		height: 2em;
		margin: 0px;
	}
	
	.wrapper {

		background-color: @foreground-color;
		.calc(height, "100% - 2.3em");

		h1 {
			.scale-font(38px, 0.15);
			color: @active-color;
			margin-bottom: 20px;
		}

		.fame-container {
				border: 1px solid @active-color;
				bottom: 0px;
				position: relative;
				display: inline-block;
				.scale-font(20px);
				height: 2em;
				width: 90%;

				.level {
					line-height: 2em;
					position: absolute;
					text-align: center;
					width: 100%;
					height: 100%;
				}

				.progress {

					position: absolute;
					width: 100%;
					height: 100%;
					border: 0px;

					.ui-progressbar-value {

						border: 1px solid white;

						background: #57d6cd;
						background: -moz-linear-gradient(left,  #57d6cd 0%, #5460ce 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,#57d6cd), color-stop(100%,#5460ce));
						background: -webkit-linear-gradient(left,  #57d6cd 0%,#5460ce 100%);
						background: -o-linear-gradient(left,  #57d6cd 0%,#5460ce 100%);
						background: -ms-linear-gradient(left,  #57d6cd 0%,#5460ce 100%);
						background: linear-gradient(to right,  #57d6cd 0%,#5460ce 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6cd', endColorstr='#5460ce',GradientType=1 );

					}
				}
			}

	}
	
}

.profile {
	.block;
	background-color: @foreground-color;

	.login {
		background-color: @foreground-color;
		width: 100%;
		height: 100%;
		text-align: center;

		h1 {
			position: relative;
			top: 10px;

			.scale-font(26px);
		}

		.auth {
			text-align: left;
			position: absolute;
			left: 10px;
			right: 10px;
			top: 90px;
			bottom: 10px;

			input {
				width: 100%;
				margin-bottom: 20px;
				.scale-by-height(height, 18px, 0.8);
				.scale-by-height(line-height, 18px, 0.8);
				.scale-by-height(font-size, 16px, 0.8);
				border: 0px;
				border-bottom: 4px solid @active-color;
				outline-width: 0px;
			}

			input:focus {
				color: @active-color;
			}

			.signup-btn {
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: 50%;
				.scale-font(22px);
			}

			.login-btn {
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 50%;
				.scale-font(22px);
			}
		}
	}

	.control {

		.scale-font(18px);

		.get-member-btn, 
		.del-member-btn, 
		.recommend-btn,
		.logout-btn,
		.create-btn,
		.save-btn {
			width: 50%;
			position: absolute;
			display: inline-block;
		}

		.recommend-btn {
			right: 0px;
		}

		.logout-btn {
			right: 0px;
			bottom: 0px;
		}

		.create-btn, .save-btn {
			bottom: 0px;
			left: 0px;
		}

		.notification-center {
			position: absolute;
			top: 2.5em;
			bottom: 2.5em;
			width: 100%;

			.notification-center {

				top: 0px;
				position: relative;
				width: 100%;
				height: 100%;
			}
		}
	}

	.signup {

		text-align: left;
		position: absolute;
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;

		input {
			width: 100%;
			margin-bottom: 20px;
			height: 56px;
			line-height: 56px;
			font-size: 44px;
			border: 0px;
			border-bottom: 4px solid @active-color;
			outline-width: 0px;
		}

		input:focus {
			color: @active-color;
		}

		.signup-submit {
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			top: 80 * 2px;
			.scale-font(30px);
		}
	}

	.identified {
		h1 {
			.scale-font(30px);

			span {
				color: @active-color;
			}
		}
	}
}

.motd {
	
	background-color: @foreground-color;

	img {
		width: 100%;
		height: 100%;
	}
} 
