@import 'reset.less';
@import 'attributes.less';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  color: #00B7FF;
}

h2 {
	font-size: 25px;
	color: white;
}

#test {
	display: inline-block;
}

.u-grid {
	overflow: hidden;
	position: absolute;
	border: 1px solid black;
}