@import 'reset.less';
@import 'jquery-ui.less';
@import 'attributes.less';

@active-color: #4db8db;
@background-color: #DBDBDB;
@foreground-color: white;
@core-color: #CDCDCD;

.ui-button {
	margin: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#test {
	display: inline-block;
}

.u-grid {
	overflow: hidden;
	position: absolute;	
}

.u-grid.background {
	background-color: @core-color;
}

@offset: 5px;

.block {
	position: absolute;
	left: @offset;
	right: @offset;
	top: @offset;
	bottom: @offset;
}

.menu {
	.block;
	font-size: 36px;
	background-color: @background-color;

	ul {

		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;

		li {
			top: 2.5%;
			margin-bottom: 5%;
			position: relative;
			width: 90%;
			height: 45%;
		}
	}
}

.community-chat {
	.block;
	background-color: @background-color;
	text-align: center;
	font-size: 30px;

	.rooms {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;

		.selector {

			width: 100%;

			label {
				margin: 0px;
				width: 100%;
			}
		}
	}

	.view {
		text-align: left;
		overflow-y: scroll;
		width: 100%;
		height: 100%;

		ul {
			background-color: @background-color;
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			overflow-y: scroll;
		}

		ul li {
			@m-margin: 5px;
			@m-offset: @m-margin * 2px;
			@sender-end: 80px;

			position: relative;
			margin: @m-margin;
			width: 100%;
			height: 40px;

			.sender {
				position: absolute;
				display: block;
				background-color: white;
				text-align: center;
				height: 100%;
				width: @sender-end - @m-offset;
				border: 2px solid @active-color;
			}

			.message {
				position: absolute;
				display: block;
				height: 100%;
				left: @sender-end;
				right: @m-offset;
				border: 2px solid @active-color;
				background-color: white;

				p {
					margin: 2px;
				}
			}
		}
	}
}

.input {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: white;

	.msg {
		position: absolute;
		margin: 0px;
		left: 0px;
		right: 0px;
		height: 100%;
		font-size: 100%;
		border: 0px;
		border-bottom: 4px solid @active-color;
		box-sizing: border-box;
	}

	.msg:focus {
		outline-width: 0px;
	}

	.send {
		right: 0px;
		position: absolute;
		display: inline-block;
		width: 30%;
		height: 100%;
	}
}

.hotspot {
	.block;
	background-color: lightgreen;
	text-align: center;
	font-size: 50px;
}

.stat {
	.block;
	background-color: pink;
	text-align: center;
	font-size: 50px;
}

.motd {
	.block;
	background-color: #FFFF99;
	text-align: center;
	font-size: 50px;
}

.title {
	.block;
	background-color: @foreground-color;
	text-align: center;
	
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}
}

.profile {
	width: 100%;
	height: 100%;
	background-color: @background-color;

	.login {
		background-color: @foreground-color;
		width: 100%;
		height: 100%;
		text-align: center;

		h1 {
			position: relative;
			top: 10px;
			font-size: 50px;
		}

		.auth {
			text-align: left;
			position: absolute;
			left: 10px;
			right: 10px;
			top: 90px;
			bottom: 140px;

			input {
				width: 100%;
				margin-bottom: 20px;
				height: 56px;
				line-height: 56px;
				font-size: 44px;
				border: 0px;
				border-bottom: 4px solid @active-color;
				outline-width: 0px;
			}

			input:focus {
				color: @active-color;
			}
		}
	}

	.identified {
		h1 {
			font-size: 56px;

			span {
				color: @active-color;
			}
		}
	}
}